body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-16xl: 35px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-silver: #b7b7b7;
  --color-darkgray: #a3a3a3;
  --color-lightsteelblue-100: #c0d7f8;
  --color-lightsteelblue-200: #c0d6f8;
  --color-lightsteelblue-300: #a0bde9;
  --color-lavender: #cddbff;
  --color-black: #000;
  --color-whitesmoke-100: #f8f9fb;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #f4f2f2;
  --color-cornflowerblue: #86a6f9;
  --color-lightskyblue-100: #9ccdf0;
  --color-lightskyblue-200: #9cccf0;
  --color-steelblue-100: #649bc3;
  --color-paleturquoise-100: #b0f0f4;
  --color-mediumturquoise: #62dae2;

  /* Gaps */
  --gap-21xl: 40px;

  /* Paddings */
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-23xl: 42px;
  --padding-base: 16px;
  --padding-21xl: 40px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-71xl: 90px;
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-31xl: 50px;
}
