<div class="center-wrapper">
  <div class="container mt-5">
    <h2>Select Your Purpose</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Matrimonial</h5>
            <a routerLink="/dashboard/matrimonial" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Social</h5>
            <a routerLink="/dashboard/social" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Job Purpose</h5>
            <a routerLink="/dashboard/job" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
